<div class="blur"></div>

<div class="add-college-container">
    <div class="text-end"><button class="close-btn"><ion-icon name="close-circle-outline"></ion-icon></button></div>
    <h2 class="form-title">თანამშრომლის დამატება</h2>
    <form>
        <div class="row mb-3">
            <div class="col">
                <label for="firstname">სახელი*</label>
                <input type="text" id="firstname" class="form-control" minlength="3" required>
                <small>✔ მინიმუმ 2 სიმბოლო</small>
                <small>✔ მაქსომუმ 255 სიმბოლო</small>
            </div>

            <div class="col">
                <label for="lastname">გვარი*</label>
                <input type="text" id="lastname" class="form-control" minlength="3" required>
                <small>✔ მინიმუმ 2 სიმბოლო</small>
                <small>✔ მაქსომუმ 255 სიმბოლო</small>
            </div>
        </div>

        <div class="avatar-upload">
            <div class="text-start"><label for="avatar">ავატარი*</label></div>
            <div class="avatar-preview">
                <img id="avatarPreview" src="images/cat.jpeg" alt="Avatar">
                <label for="avatar" class="upload-btn"></label>
                <input type="file" id="avatar" accept="image/*">
            </div>
        </div>

        <div class="form-group">
            <div class="text-start">
                <label for="departments">დეპარტამენტი*</label>
                <select id="departments" class="form-select">
                    <option selected disabled>დიზაინის დეპარტამენტი</option>
                    <option value="it">დიზაინის დეპარტამენტი</option>
                    <option value="it">ლოჯისტიკის დეპარტამენტი</option>
                    <option value="hr">მარკეტინგის დეპარტამენტი</option>
                    <option value="sales">IT დეპარტამენტი</option>
                </select>
            </div>

        </div>

        <div class="form-buttons">
            <button type="button" class="my-btn outline-btn">გაუქმება</button>
            <button type="submit" class="my-btn filled-btn">დამატება</button>
        </div>
    </form>

</div>