<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Logo" height="38px" width="210px" class="d-inline-block align-text-top">
        </a>
        <div class="buttons">
            <a class="my-btn outline-btn" style="margin-right: 40px" id="add-employee-btn">თანამშრომლის შექმნა</a>
            <a href="/add-task" class="my-btn filled-btn">შექმენი ახალი დავალება</a>
        </div>
    </div>
</nav>

<%- include('addEmployee') %>
