<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('header') %>

    <div class="my-container task-info">
        <div class="row mb-3">
            <div class="col right">
                <div class="content">
                    <div class="top-categories">
                        <div class="task-priority Medium">
                            <ion-icon name="reorder-two-outline"></ion-icon>
                            <p>საშუალო</p>
                        </div>
                        <div class="task-department">
                            <p>დიზაინი</p>
                        </div>
                    </div>
                    <h6 class="page-title">Redberry-ს საიტის ლენდინგის დიზაინი</h6>
                    <p class="desc">მიზანია რომ შეიქმნას თანამედროვე, სუფთა და ფუნქციონალური დიზაინი, რომელიც უზრუნველყოფს მარტივ ნავიგაციას და მკაფიო ინფორმაციის გადაცემას. დიზაინი უნდა იყოს ადაპტირებადი (responsive), გამორჩეული ვიზუალით, მინიმალისტური სტილით და ნათელი ტიპოგრაფიით.</p>
                    <div class="task-details">
                            <h6>დავალების დეტალები</h6>
                            <div class="row mb-3" style="display: flex; align-items: center">
                                <div class="col">
                                    <div class="status">
                                        <ion-icon name="time-outline"></ion-icon>
                                        <p>სტატუსი</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            მზად ტესტირებისთვის
                                        </button>
                                        <ul class="dropdown-menu" style="width: 300px">
                                            <li><a class="dropdown-item" href="#">დასაწყები</a></li>
                                            <li><a class="dropdown-item" href="#">პროგრესში</a></li>
                                            <li><a class="dropdown-item" href="#">მზად ტესტირებისთვის</a></li>
                                            <li><a class="dropdown-item" href="#">დასრულებული</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="employee">
                                        <ion-icon name="person-outline"></ion-icon>
                                        <p>თანამშრომელი</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="person">
                                        <img src="images/cat.jpeg" alt="profile">
                                        <div class="personal-info">
                                            <p class="department">დიზაინის დეპარტამენტი</p>
                                            <p class="name">ელაია ბაგრატიონი</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="deadline">
                                        <ion-icon name="calendar-clear-outline"></ion-icon>
                                        <p>დავალების ვადა</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="deadline">ორშ - 02/2/2025</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col left">
                <div class="custom-form">
                    <div class="input">
                        <input type="text" id="comment" placeholder="დაწერე კომენტარი">
                        <button type="submit" class="my-btn filled-btn">დააკომენტარე</button>
                    </div>
                </div>

                <div class="comments-container">
                    <h5>კომენტარები <span>3</span></h5>
                    <div class="comment-section">
                        <div class="comment">
                            <img src="images/cat.jpeg" alt="comment-profile">
                            <div class="content">
                                <h6>ემილია მორგანი</h6>
                                <p>დიზაინი სუფთად ჩანს, მაგრამ კოდირებისას მნიშვნელოვანი იქნება, რომ ელემენტებს ჰქონდეს შესაბამისი რეზოლუცია.</p>
                                <button id="#reply" type="submit"><ion-icon name="arrow-undo-outline"></ion-icon> უპასუხე</button>

                            </div>
                        </div>
                        <div class="reply">
                            <img src="images/cat.jpeg" alt="comment-profile">
                            <div class="content">
                                <h6>ემილია მორგანი</h6>
                                <p>დიზაინი სუფთად ჩანს, მაგრამ კოდირებისას მნიშვნელოვანი იქნება, რომ ელემენტებს ჰქონდეს შესაბამისი რეზოლუცია.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
